---

export interface Props {
    menuItemPic: string;
	name: string;
    price: string;
    disc: string;
}

let {menuItemPic, name, price, disc} = Astro.props as Props;

alert(`menuItemPic : ${menuItemPic}`)

---

<div class="menu-item">
    <div class="menu-item__picture"><img src={menuItemPic} aria-hidden='true' /></div>
    <div class="menu-item__name">{name}</div>
    <div class="menu-item__price">{price}</div>
    <div class="menu-item__disc">{disc}</div>
</div>

<style>
    .menu-item {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 25px;
    }

    .menu-item__picture {
        grid-row-start: 1;
        grid-row-end: 3;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 15px;
    }

    .menu-item__picture img {
        width: 100%;
        height: auto;
    }

    .menu-item__name {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 2rem;
    }

    .menu-item__price {
        grid-column-start: 3;
        grid-column-end: 4;
        text-align: right;
        font-size: .9rem;
    }

    .menu-item__disc {
        grid-column-start: 2;
        grid-column-end: 3;
        height: 100%;
    }